<div class="jumbtron">
    <h1 class="display-4 text-center">Employee Register</h1>
  
    <hr>
    <h4>Selected Employee Details:</h4>
   <ul class="list-style">
        <li class="list-item">{{items.FullName}}</li>
        <li class="list-item">{{items.EMPCode}}</li>
        <li class="list-item">{{items.Position}}</li>
        <li class="list-item">{{items.Mobile}}</li>
    </ul>
    <div class="row">
        <div class="col-md-5">
            <app-employee></app-employee>
        </div>
        <div class="col-mod-7">
            <app-employee-list (newItemEvent)="addItem($event)"></app-employee-list>
        </div>
    </div>
</div>